.login{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100%;
    background-color:#1db954;
    gap:5rem;
    margin:0 0;

}

.login a{
    background-color:black;
    color:#49f585;
    padding:1rem 5rem;
    border-radius:5rem;
    border:none;
    font-size:1.4rem;
    cursor:pointer;
    text-decoration: none;
}

img{
    height:30vh;
    
}
@media (max-width:768px){
  img{
    width:80%;
    object-fit:contain;
  }
}

